footer {
	width: 100%;
	padding-top: 6px;
	display: block;

	font-family: var(--footer-font);
	font-size: var(--footer-font-size);

	background-color: var(--themeTransparent);
	-webkit-backdrop-filter: var(--navBlur);
	backdrop-filter: var(--navBlur);
}

.footer-contact {
	width: 100%;
	height: 35px;
	padding-left: 30px;
	line-height: 35px;

	color: var(--footerText);
	background-color: rgba(51, 51, 51, 0.1);
}

.footer-info {
	width: 80%;
	min-width: 80px;
	max-width: 640px;
	padding-left: 10px;
	margin-left: 30px;
	text-indent: 10px;

	color: var(--footerText);
	border-left: 3px solid #ffffff;
}