*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* === VARIABLES === */
body {
    --font: 'Roboto';
    --theme: #32ade6;
    --themeTransparent: rgba(60, 193, 255, 0.8);
}

/*Dark mode*/
body.dark-mode {
    --background: #181A1B;
    --text: #aaa;
    --themeBlur: blur(6px) brightness(110%);
}

/*Light mode*/
body:not(.dark-mode) {
    --background: #fff;
    --text: #202124;
    --themeBlur: blur(5px) brightness(90%);
}

a {
    color: #fff
}

/* === DEBUGGING === */
* {
    outline: 1px solid red;
    opacity: 0.8;
}

body {
    min-width: 600px;
    width: auto !important;
    width: 1000px;
 }