/*=== CONSISTENCY ===*/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #fff
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	overflow-x: hidden;
}

/*=== VARIABLES ===*/
body {
    --font: 'Roboto';
    --theme: #32ade6;
    --themeTransparent: rgba(60, 193, 255, 0.8);
}

/*Dark mode*/
body.dark-mode {
    --background: #181A1B;
    --text: #b3b3b3;
    --secondaryText: #f0f0f0;
    --themeBlur: blur(5px) brightness(110%);
}

/*Light mode*/
body:not(.dark-mode) {
    --background: #f0f0f0;
    --text: #202124;
    --themeBlur: blur(5px) brightness(90%);
}


/*=== DEBUGGING ===*/
/* * {
    outline: 1px solid red;
    opacity: 0.8;
} */

/* body {
    min-width: 600px;
    width: auto !important;
} */

/*=== MAIN ===*/
body {
	background-color: var(--background);
	color: var(--text);
	font-family: var(--font);
}