/*=== MAIN ===*/

/*Desktop view*/
@media (min-width: 701px) {
    #left-nav-toggle {
        display: none;
    }
}
/*Mobile view*/
@media (max-width: 700px) {
    #left-nav {
        position: relative;
        left: 0;
        transition: left 0.2s ease;
    }
    #left-nav:not(.active) {
        left: calc(-1 * var(--left-nav-width) - var(--left-nav-margin-right));
    }
}

#left-nav-toggle {
    top: 10px;
    left: 10px;
    height: 30px;
    width: 30px;
    position: relative;

    padding: 5px;

    background: var(--left-nav-background);
    border-radius: var(--content-border-radius) var(--content-border-radius) var(--content-border-radius) var(--content-border-radius);
    -webkit-backdrop-filter: var(--left-nav-blur);
    backdrop-filter: var(--left-nav-blur);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}
#left-nav-toggle img {
    height: 100%;
    width: 100%;
}



#left-nav {
    font-family: var(--left-nav-font);
    font-size: var(--left-nav-font-size);
    
    width: var(--left-nav-width);
    height: fit-content;
    margin-top: var(--content-margin);
    margin-right: var(--left-nav-margin-right);
    /* margin-right: min(var(--left-nav-margin-right), calc((var(--left-nav-margin-right) - 1px - ((100vw - (var(--left-nav-width) + var(--left-nav-margin-right) + var(--content-width))) / 2)) * 2)); */
    
    background: var(--left-nav-background);
    border-radius: 0 var(--content-border-radius) var(--content-border-radius) 0;
    -webkit-backdrop-filter: var(--left-nav-blur);
    backdrop-filter: var(--left-nav-blur);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}


/*=== BUTTONS === */
/*Don't change the cursor if the button is already active*/
/* li.active > div.nav-button {
    cursor: default;
} */

#left-nav-container .nav-item:not(.active) {
    cursor: pointer;
}

#left-nav-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


#left-nav .nav-item {
    position: relative;
    color: var(--left-nav-text);
    width: 100%;
    
    transition: margin-left 0.4s, color 0.4s ease;
}

#left-nav .nav-item + .nav-item {
    margin-top: 10px;
}

#left-nav .nav-item.active {
    color: var(--left-nav-text-active);
    margin-left: var(--left-nav-pop);
}

@media (any-hover: hover) {
    #left-nav .nav-item:hover {
        color: var(--left-nav-text-active);
        margin-left: var(--left-nav-pop);
    }
}

/*=== CONSISTENCY ===*/
#left-nav * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}