/*=== MAIN ===*/
#top-nav {
	font-family: var(--top-nav-font);
	color: var(--nav-text);
	font-size: var(--top-nav-font-size);
	
	position: sticky;
	top: calc(var(--top-nav-height) * -1);
	left: 0;
	width: 100%;
	z-index: 2;
	transition: top 0.3s;
	
	-webkit-user-select: none;
	user-select: none;
	
	background: var(--theme-transparent);
	-webkit-backdrop-filter: var(--top-nav-blur);
	backdrop-filter: var(--top-nav-blur);
	-webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
}

/*Keep top-nav at top of viewport if it has the .sticky class*/
#top-nav.sticky {
	top: 0px;
}

/*=== BUTTONS === */
/*Don't change the cursor if the button is already active*/
/* li.active > div.nav-button {
	cursor: default;
} */

/* .nav-button:not(.active) {
	cursor: pointer;
} */

#top-nav a {
	text-decoration: none;
}

#top-nav-container {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#top-nav .nav-item {
	float: left;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color 0.5s ease;
}

@media (any-hover: hover) {
	#top-nav .nav-item:hover {
		background-color: rgba(0, 0, 0, 0.3);	}
}

#top-nav .nav-button {
	width: 100%;
	height: 100%;
	display: inline-block;
	line-height: var(--top-nav-height);
	padding-left: 20px;
	padding-right: 20px;
	
	/*This fixes the animation*/
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}


/*The underline effect*/
@media (any-hover: hover) {
	#top-nav .nav-button:before {
		content: "";
		position: absolute;
		left: 0;
		right: 100%;
		bottom: 0;
		background: #ECECEC;
		height: 4px;
		-webkit-transition-property: right;
		transition-property: right;
		-webkit-transition-duration: 0.15s;
		transition-duration: 0.15s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
	/*I know I can use :is() but its a bit weird on the support*/
	#top-nav .nav-button:hover:before, #top-nav .nav-button:focus:before, #top-nav .nav-button:active:before {
		right: 0;
	}
}