body {
	background-color: var(--background);
	color: var(--text);
	padding: 0;
	margin: 0;
	perspective: 1px;
	transform-style: preserve-3d;
	height: 100%;
	overflow-x: hidden;
	font-family: var(--font);
}

/*I wrote this to allow putting elements in a split formation, but I don't think I did the resizing very well*/
.dual-section {
	width: 100%;
	height: fit-content;
	outline: 1px solid red;
}
/* Clearfix lol */
.dual-section::after {
	content: "";
	clear: both;
	display: table;
}
.left-dual-section {
	width: 44%;
	margin-left: 4%;
	margin-right: 4%;
	float: left;
	
	height: fit-content;
	background: red;
}
.right-dual-section {
	width: 44%;
	margin-right: 4%;
	float: right;
	
	height: fit-content;
}



.row {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 150px;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.row > .col-3 {
	width: 30%;
	height: 100%;
	box-sizing: border-box;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}

/* Create the parallax scrolling effect */
.parallax-image {
	backdrop-filter: blur(10px);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}