/*I wrote this to allow putting elements in a split formation, but I don't think I did the resizing very well*/
.dual-section {
	width: 100%;
	height: fit-content;
	outline: 1px solid red;
}
/*Clearfix lol*/
.dual-section::after {
	content: "";
	clear: both;
	display: table;
}
.left-dual-section {
	width: 44%;
	margin-left: 4%;
	margin-right: 4%;
	float: left;
	
	height: fit-content;
}
.right-dual-section {
	width: 44%;
	margin-right: 4%;
	float: right;
	
	height: fit-content;
}

/*Tthe parallax scrolling effect. Not too sure about its compatibility though*/
.parallax-image {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}



/*=== UNACCEPTED ===*/
.row {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 150px;
}
.row > .third-column {
	width: 30%;
	height: 100%;
	box-sizing: border-box;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}

/*More clearfix*/
.row:after {
	content: "";
	display: table;
	clear: both;
}






.right-dual-section {
	vertical-align: 30px;
}

.right-dual-section > img {
	width: 50%;
}